*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: sans-serif;
}
li{
    list-style: none;
    padding-left: 1rem;
    /* color: green; */
}
a{
    text-decoration: none;
    color: white;
    font-size:1.2rem;
}
.links{
    text-decoration: none;
    color: white;
    font-size:1.2rem;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #316dc3;
    padding: 1rem;

}
header nav{
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
}